@import '../../theme/common';
.platform-android {
  page-login {
    @include page-background(#ffffff ,$background-color);
  }
  .lg-main-content {
    color: $main-color;
    padding-top:30%;
  }
  .lg-title {
    letter-spacing: 0.3rem;
    font-size: 2.3rem;
    font-weight: 400;
    margin:auto;
  }
  .lg-input {
    height: 35px;
    width: 200px;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid $main-color;
    border-radius: 50px;
    font-weight: 200;
    color: $main-color;
  }
  .lg-input-invalid{
    height: 35px;
    width: 200px;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid #ee8580;
    border-radius: 50px;
    font-weight: 200;
    color: $main-color;
  }
  .lg-errorMessage{
    color:#ee8580;
    margin-top: 10px;
  }
}

.platform-ios {
  page-login {
    @include page-background(#ffffff ,$background-color);
  }
  .lg-main-content {
    color: $main-color;
    padding-top:30%;
  }
  .lg-title {
    letter-spacing: 0.3rem;
    font-size: 2.3rem;
    font-weight: 400;
    margin:auto;
  }
  .lg-input {
    height: 35px;
    width: 200px;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid $main-color;
    border-radius: 50px;
    font-weight: 200;
    color: $main-color;
  }
  .lg-input-invalid{
    height: 35px;
    width: 200px;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid #ee8580;
    border-radius: 50px;
    font-weight: 200;
    color: $main-color;
  }
  button.lg-circle:enabled:active {
    background-image: url(../../assets/images/0000_btn_afterCheck_b.svg);
    background-color: transparent;
    height: 50px;
    width: 50px;
  }
  button.lg-circle {
    background-image: url(../../assets/images/0000_btn_beforeCheck_b.svg);
    background-color: transparent;
    height: 50px;
    width: 50px;
  }
  button.lg-circle:disabled {
    background-image: url(../../assets/images/0000_btn_errorCheck_b.svg);
    background-color: transparent;
    height: 50px;
    width: 50px;
    opacity:1;
  }
  .lg-errorMessage{
    color:#ee8580;
    margin-top: 10px;
  }
}
