@import '../../theme/common';

.platform-android {
  page-signup-terms {
    @include page-background(#ffffff, $background-color);
  }
  .back-button-wrapper {
    position: absolute;
    display: inline-block;
    top: 2%;
    left: 2%;
    z-index: 10;
  }
  .st-main-content {
    color: $main-color;
    padding: 10%;
    padding-top:30%;
  }
  .st-title {
    letter-spacing: 0.3rem;
    font-size: 2.3rem;
    font-weight: 400;
  }
  .coverCircle{
    box-sizing:border-box;
    display: inline-block;
    float:left;
    margin-left:8%;
  }
  .st-button{
    color: #57B4AA;
    border-color: #57B4AA;
    font-size: 1rem;
    font-weight:200;
    width: 65px;
    height: 25px;
    margin-top: -0.1px;
    margin-left: -20px;
    margin-right: 5%;
    display: inline-block;
  }
  .serviceTerms{
    margin: auto;
  }
  .detailTerms{
    box-sizing:border-box;
    margin: auto;
  }
  .terms{
    width:50%;
    padding-top:2px;
    margin-left:15px;
    font-size: 1.4rem;
    font-weight:300;
    display: inline-block;
    float:left;
    text-align: left;
  }
  .signTerm-buttons{
    margin: auto;
  }
  .button-signTerms {
    width: 220px;
    color: #57B4AA;
    height: 43px;
    font-weight:300;
    font-size:1.4rem;
    display: inline-block;
    border: 0.5px solid #57B4AA;;
  }
  .signTerm-buttons{
  }
  .button-signTerms:disabled {
    width: 220px;
    color: #57B4AA;
    border: 0.5px solid #57B4AA;;
    height: 43px;
    font-weight:300;
    font-size:1.4rem;
    display: inline-block;
    opacity: 0.5;
  }
  .userLogin{
    margin-top:25px;
    margin-left:auto;
    margin-right:auto;
    font-size: 1.1rem;
  }
  .ul-front{
    font-weight:200;
  }
  .ul-back{
    font-weight:500;
  }
}
.platform-ios {
  page-signup-terms {
    @include page-background(#ffffff, $background-color);
  }
  .back-button-wrapper {
    position: absolute;
    display: inline-block;
    top: 2%;
    left: 2%;
    z-index: 10;
  }
  .st-main-content {
    color: $main-color;
    padding: 10%;
    padding-top:30%;
  }
  .st-title {
    letter-spacing: 0.3rem;
    font-size: 2.3rem;
    font-weight: 400;
  }
  .coverCircle{
    box-sizing:border-box;
    display: inline-block;
    float:left;
    margin-left:8%;
  }
  .circle{
    overflow: hidden;
    background-image: url(../../assets/images/0000_btn_beforeCheck_s.svg);
    height: 25px;
    width: 25px;
    box-sizing:border-box;
    display: inline-block;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
  }
  .checkedCircle{
    overflow: hidden;
    background-image: url(../../assets/images/0000_btn_afterCheck_s.svg);
    height: 25px;
    width: 25px;
    box-sizing:border-box;
    display: inline-block;
  }
  .st-button{
    color: #57B4AA;
    border-color: #57B4AA;
    font-size: 1rem;
    font-weight:200;
    width: 65px;
    height: 25px;
    margin-top: -0.1px;
    margin-left: -20px;
    margin-right: 5%;
    display: inline-block;
  }
  .serviceTerms{
    margin: auto;
  }
  .detailTerms{
    box-sizing:border-box;
    margin: auto;
  }
  .terms{
    width:50%;
    padding-top:2px;
    margin-left:15px;
    font-size: 1.4rem;
    font-weight:300;
    display: inline-block;
    float:left;
    text-align: left;
  }
  .signTerm-buttons{
    margin: auto;
  }
  .button-signTerms {
    width: 220px;
    color: #57B4AA;
    height: 43px;
    font-weight:300;
    font-size:1.4rem;
    display: inline-block;
    border: 0.5px solid #57B4AA;;
  }
  .signTerm-buttons{
  }
  .button-signTerms:disabled {
    width: 220px;
    color: #57B4AA;
    border: 0.5px solid #57B4AA;;
    height: 43px;
    font-weight:300;
    font-size:1.4rem;
    display: inline-block;
    opacity: 0.5;
  }
  .userLogin{
    margin-top:25px;
    margin-left:auto;
    margin-right:auto;
    font-size: 1.1rem;
  }
  .ul-front{
    font-weight:200;
  }
  .ul-back{
    font-weight:500;
  }
}
