@import '../../theme/common';
.platform-android {
  page-home {
    @include page-background(#ffffff, $background-color);
  }
  .home-cloud-wrapper {
    position: absolute;
    top: 10%;
    -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1.5s; /* Firefox < 16 */
    -ms-animation: fadein 1.5s; /* Internet Explorer */
    -o-animation: fadein 1.5s; /* Opera < 12.1 */
    animation: fadein 1.5s;
  }
  .home-garden{
    position: relative;
    left: 2.5%;
    width: 98%;
    height:50%;
    padding-top: 25%;
    box-sizing: border-box;
    transition: all linear 0.7s;
  }
  .home-garden-saying {
    position: relative;
    width: 100%;
    text-align: center;
    color: $main-color;
    font-weight: 100;
    -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1.5s; /* Firefox < 16 */
    -ms-animation: fadein 1.5s; /* Internet Explorer */
    -o-animation: fadein 1.5s; /* Opera < 12.1 */
    animation: fadein 1.5s;
    //animation: blinker 1.5s linear infinite;
  }
  .home-garden-map{
    position: relative;
    width: 100%;
    height: 50vh;
  }
  @mixin common{
    position: absolute;
    box-sizing: border-box;
    z-index:10;
  }
  .home-groupgarden {
    top: -2%;
    left:35%;
    @include common;
  }
  .home-mygarden {
    top: 25%;
    left: 22%;
    @include common;
    z-index:30;
  }
  .home-board {
    top: 20%;
    right: 4%;
    @include common;
  }
  .home-pharmacy {
    bottom: 10%;
    left: 0%;
    @include common;
  }
  .home-content {
    position: relative;
    padding-top: 5%;
  }
  .button-login {
    width: 60%;
    left: 20%;
    color: $main-color;
    border-color: $main-color;
    height: 43px;
  }
}

.platform-ios {
  page-home {
    @include page-background(#ffffff, $background-color);
  }
  .home-garden{
    position: relative;
    left: 2.5%;
    width: 95%;
    height:50%;
    padding-top: 19%;
    box-sizing: border-box;
  }
  .home-garden-saying {
    position: relative;
    width: 100%;
    text-align: center;
    animation: blinker 1.5s linear infinite;
    color: $main-color;
  }
  .home-garden-map{
    position: relative;
    width: 100%;
    height: 50vh;
  }
  @mixin common{
    position: absolute;
    box-sizing: border-box;
    z-index:10;
  }
  .home-groupgarden {
    top: 0%;
    left:35%;
    @include common;
  }
  .home-mygarden {
    top: 25%;
    left: 20%;
    @include common;
    z-index:30;
  }
  .home-board {
    top: 19%;
    right: 8%;
    @include common;
  }
  .home-pharmacy {
    bottom: 10%;
    left: 2%;
    @include common;
  }
  .home-content {
    position: relative;
    padding-top: 5%;
  }
  .button-login {
    width: 60%;
    left: 20%;
    color: $main-color;
    border-color: $main-color;
    height: 43px;
  }
}
