@import '../../theme/common';
.platform-android {
  page-mygarden-home {
    @include page-background(#ffffff, $background-color);
  }
  .mygarden-home-mmumes-wrapper {
    position: relative;
    align-content: center;
  }
  .mygarden-home-mmumes {

  }
  .mygarden-home-mmume-single {

  }
  .mygarden-home-mygarden-wrapper {
  }
  .mygarden-home-mygarden {
    position: absolute;
    left:0;
    right:0;
    width: 73%;
    height: auto;
    margin-left:auto;
    margin-right:auto;
    bottom: 10%;
    box-sizing: border-box;
    opacity: 0.5;
  }
  .test-class {
    position: absolute;
    width: 65px;
    height: 65px;
    left:0;
    right:0;
    top: 30%;
    margin-left:auto;
    margin-right:auto;
  }
}

.platform-ios {
  page-mygarden-home {
    @include page-background(#ffffff, $background-color);
  }
  .mygarden-home-mmumes-wrapper {
    position: relative;
    align-content: center;
  }
  .mygarden-home-mmumes {

  }
  .mygarden-home-mmume-single {

  }
  .mygarden-home-mygarden-wrapper {
  }
  .mygarden-home-mygarden {
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    bottom: 14%;
    box-sizing: border-box;
  }
}
