<div class="back-button-wrapper" (click)="closeWindow()" >
  <img src="assets/images/0000_btn_back.png" height="24" width="24"/>
</div>

<!-- 테스트 코드 -->
<div class="mygarden_wrap">
  <img *ngIf="state == 1" class="mygarden_home_mm" src="assets/images/mmume_good_stay.gif" alt="" (click)="test()"/>
  <img *ngIf="state == 2" class="mygarden_home_mm" src="assets/images/mmume_dry_stay.gif" alt="" (click)="test()"/>
  <img *ngIf="state == 3" class="mygarden_home_mm" src="assets/images/mmume_hot_stay.gif" alt="" (click)="test()"/>
  <img *ngIf="state == 4" class="mygarden_home_mm" src="assets/images/mmume_lack_stay.gif" alt="" (click)="test()"/>
  <img *ngIf="state == 5" class="mygarden_home_mm" src="assets/images/mmume_shinyhot_stay.gif" alt="" (click)="test()"/>
  <img *ngIf="state == -1" class="mygarden_home_mm" src="assets/images/mmume_bad_stay.gif" alt="" (click)="test()"/>
  <div class="mygarden_mmstate">{{testMmumeModel.name}}<br>LV {{testMmumeModel.level}}</div>
</div>
<!-- 테스트 코드 -->

<div class="mygarden-home-mmumes-wrapper">
  <div class="mygarden-home-mmumes">
    <div class="mygarden-home-mmume-single">
    </div>
    <!-- 지금은 한줄만 표시 , 화면 넘어가면 라인 줄바뀜 안됨.-->
  </div>
</div>

<div class="mygarden-home-mygarden-wrapper">
  <img
    src="assets/images/0000_i_myGarden2.png"
    alt="My Garden"
    class="mygarden-home-mygarden"
    (click)="test2()">
</div>
