@import '../../theme/common';
.platform-android {
  page-mygarden-home {
    @include page-background(#ffffff, $background-color);
  }
  .mygarden_wrap {
    position: absolute;
    width: 26%;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
  }
  .mygarden_wrap img {
    margin-bottom:3px
  }
  .mygarden_mmstate {
    text-align:center;
    font-size:0.9em;
    font-weight:400;
    color:#5a7ad0
  }
  .mygarden-home-mmumes-wrapper {
    position: relative;
    align-content: center;
  }
  .mygarden-home-mmumes {
  }
  .mygarden-home-mmume-single {

  }
  .mygarden-home-mygarden-wrapper {
  }
  .mygarden-home-mygarden {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 78%;
    bottom: 15%;
    opacity:0.9;
  }
  .test-class {
    position: absolute;
    width: 65px;
    height: 65px;
    left:0;
    right:0;
    top: 30%;
    margin-left:auto;
    margin-right:auto;
  }
}

.platform-ios {
  page-mygarden-home {
    @include page-background(#ffffff, $background-color);
  }
  .mygarden-home-mmumes-wrapper {
    position: relative;
    align-content: center;
  }
  .mygarden-home-mmumes {

  }
  .mygarden-home-mmume-single {

  }
  .mygarden-home-mygarden-wrapper {
  }
  .mygarden-home-mygarden {
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    bottom: 14%;
    box-sizing: border-box;
  }
}
